* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
input {
  width: 340px;
  font-size: 30px;
  height: 2em;
  background-color: black;
  color: white;
}
button {
  background: transparent;
  background-color: rgb(128, 126, 126);
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 30px;
  margin: 5px;
}

#calculator-container {
  width: 340px;
  display: grid;
  background-color: rgb(196, 196, 196);
}
.operators {
  background-color: rgb(99, 22, 37);
}
.equals {
  background-color: rgb(27, 80, 42);
}
.clear {
  background-color: rgb(149, 170, 32);
}
